/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CodeMirror styles */
.cm-editor.cm-focused {
  outline: none !important;
}

.cm-editor .cm-scroller {
  font-size: 0.9rem;
  @apply font-mono bg-zinc-100 rounded-sm border border-zinc-200 transition-colors;
}

.cm-editor .cm-scroller .cm-activeLine {
  @apply bg-inherit;
}

.cm-editor .cm-gutters {
  border-right: 0;
  @apply bg-inherit;
}

.cm-editor .cm-foldGutter .cm-gutterElement {
  display: none;
}

.cm-editor .cm-lineNumbers .cm-gutterElement {
  display: none;
}

.cm-editor .cm-content {
  @apply py-2;
}

.cm-editor .cm-line {
  @apply border-transparent border-l-4 pl-3 pr-2 transition-colors;
}

.cm-editor .cm-line.cm-activeLine {
  @apply border-zinc-300;
}
